/* import poppin font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root{
--clr : #222327;

}


body{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background: var(--clr);
}


.navihation{
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
}

.navihation ul { 
  display: flex;
  width: 350px;
}

.navihation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navihation ul li a{
  position: relative;
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.navihation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  transition: 0.5s;
  text-align: center;
  color: var(--clr);
}


.navihation ul li.active a .icon{
  transform: translateY(-35px);
}

.navihation ul li a .title{
  position: absolute;
  font-weight: 400;
  font-size: .75em;
  letter-spacing:0.05em;
  transition: .5s;
  color: var(--clr);
  opacity: 0;
  transform: translateY(20px);
}

.navihation ul li.active a .title{
  opacity: 1;
  transform: translateY(10px);
}


.indicator{
  position: absolute;
  width: 70px;
  height: 70px;
  /* background: #29fd53; add a gradiend bg */
  background: linear-gradient(45deg, #e28144, #FF914E);
  top: -50%;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top:50%;
  left:-22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow:0px -10px 0px 0px var(--clr);
}

.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0px 0px var(--clr);
}


/* connect active and indicator */
/* .navihation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(70px * 0));
}

.navihation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}

.navihation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}

.navihation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
}

.navihation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
}

.navihation ul li:nth-child(6).active ~ .indicator{
  transform: translateX(calc(70px * 5));
} */

li.list.active .icon.material-symbols-outlined {
  color: #fff;
}


/* I am changing the file via tunnel */